@charset "utf-8";
/* CSS Document */
.headerBackground{
	/*页眉盒子*/
	width: 100%;/*宽度*/
	height: 100px;/*高度*/
	margin:0 auto;/*居中*/
	line-height: 0.5;/*行间距*/
	background:#000000;/*背景色*/
}
h1{
	font-family: "华文行楷";/*字体*/
	margin-left: 70px;/*左边距*/
	margin-bottom: 10px;/*下边距*/
}
h1 a{
	color:rgba(5,186,142,1.00);/*字体颜色*/
	text-decoration: none;/*链接样式无*/
}
h1 a:hover{
	color: #3B3B3B;/*鼠标划过样式*/
}
h4{
	color: #FFFFFF;
	font-size: 18px;
	margin-left: 70px;
}
.table{/*菜单栏*/
	float: right;
	margin-top: -70px;/*上边距*/
	margin-right: 10%;/*右边距*/
}
.codrops-demos {/*菜单*/
	float: right;
	clear: none;
	padding-top: 10px;
}
.codrops-demos a {
    display: inline-block;
    margin: 10px 10px 10px 50px;
    color:aliceblue;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
	text-decoration: none;
}

.codrops-demos a:hover {
	color:rgba(5,186,142,1.00);
	border-color:rgba(5,186,142,1.00);
}

.codrops-demos a.current-demo5,
.codrops-demos a.current-demo5:hover {/*当前页面菜单*/
	color: rgba(5,186,142,1.00);
	border-color: rgba(5,186,142,1.00);
}
section {
	height: 480px;
	line-height: 40px;
	text-align: center;
}
.g-img {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.g-img-1 {
	background-image: url(../images/smzf1.jpg);
}
h2{
	color: #E3E3E3;
	font-size: 40px;
	font-family: "楷体";
}
h3{
	font-family: "黑体";
	font-size: 25px;
}
main{
	text-align: center;
	margin:0 auto;
	height: 455px;
}
.theWord{
	padding-top: 110px;
}
.theWord p{
	color: #ADADAD;
	font-size: 25px;
	font-family: "宋体";
	letter-spacing: 5px;
}
.g-img-2 {
	background-image: url(../images/smzf3.jpg);
	padding-top: 25px;
}
.g-img-3 {
	background-image: url(../images/smzf2.jpg);
	padding-top: 25px;
}
.g-img-3 h3{
	color: #FFFFFF;
}
.g-word-1 img{
	height:400px;
	width: 90%;
}
.g-word-2 img{
	height: 400px;
}
.g-word-3 img{
	height: 400px;
}
.box{/*交互图框框*/
	width:700px;
	height:455px;
	margin:0 auto;
	text-align: center;
}
.box2{
	width:40%;
	height:380px;
	float: left;
	padding-left: 5%;
	padding-top: 20px;
}
.box3{
	width: 40%;
	height: 380px;
	float: right;
	padding-left: 5%;
	padding-top: 20px;
}
footer{
	height: 40px;
	background-color:#000000;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	color:#FFFFFF;
	word-spacing: 25px;
}
